<div class="from_content">
    {{!-- Nội dung 1 --}}
    <div class="content_1">
        <div class="in_content_1">
            <div class="sum_div_content">
                {{!-- User --}}
                <div class="div_content_1">
                    <a href="user/myAcc"  class="nd-contet_1">
                        <div class="i_con">
                            <img src="../img/Facebook-Avatar_3 (1).png" alt="">
                        </div>
                        <div class="name_menu">
                            {{user.name}}
                        </div>
                    </a>
                </div>
                {{!-- Bạn bè --}}
                <div class="div_content_1">
                    <a href=""  class="nd-contet_1">
                        <div class="i_con">
                            <img src="../img/iconPepo.png" alt="">
                        </div>
                        <div class="name_menu">
                            Bạn bè
                        </div>
                    </a>
                </div>
                {{!-- Kỷ niệm --}}
                <div class="div_content_1">
                    <a href=""  class="nd-contet_1">
                        <div class="i_con">
                            <img src="../img/iconkiniem.png" alt="">
                        </div>
                        <div class="name_menu">
                            Kỷ nệm
                        </div>
                    </a>
                </div>
                {{!-- Đã lưu --}}
                <div class="div_content_1">
                    <a href=""  class="nd-contet_1">
                        <div class="i_con">
                            <img src="../img/iconluu.png" alt="">
                        </div>
                        <div class="name_menu">
                            Đã lưu
                        </div>
                    </a>
                </div>
                {{!-- Nhóm --}}
                <div class="div_content_1">
                    <a href=""  class="nd-contet_1">
                        <div class="i_con">
                            <img src="../img/iconnhom.png" alt="">
                        </div>
                        <div class="name_menu">
                            Nhóm
                        </div>
                    </a>
                </div>
                {{!-- Video --}}
                <div class="div_content_1">
                    <a href=""  class="nd-contet_1">
                        <div class="i_con">
                            <img src="../img/iconvideo.png" alt="">
                        </div>
                        <div class="name_menu">
                            Video
                        </div>
                    </a>
                </div>
                {{!-- Xem thêm --}}
                <div class="div_content_1">
                    <a href=""  class="nd-contet_1">
                        <div class="i_con">
                            <img src="../img/iconxemthem.png" alt="">
                        </div>
                        <div class="name_menu">
                            Xem thêm
                        </div>
                    </a>
                </div>
                <div class="hr">
                    <hr>
                </div>
            </div>
        </div>
    </div>

    {{!-- Nội dung 2 --}}
    <div class="content_2">
        <div class="content_story">
            <div class="from_story_ct_2">
                <div class="one_story">
                    <a href="">
                    <div class="img_avarta">
                        <img src="../img/Facebook-Avatar_3 (1).png" alt="">
                        <div class="img_overlay"></div>
                    </div>
                    <div class="icon_themst">
                        <img src="../img/Remove-bg.ai_1711089130465.png" alt="">
                    </div>
                    <div class="creater_sotry">
                        Tạo tin
                    </div>
                    </a>
                </div>

                <div class="one_story_user">
                    <a href="">
                    <div class="avatar_user_story">
                        <img src="../img/avta1.jpg" alt="">
                    </div>
                    <div class="img_avarta_user">
                        <img src="../img/story1.jpg" alt="">
                    </div>
                    <div class="name_user_story">
                        Ghiền đà lạt
                    </div>
                    </a>
                </div>

                <div class="one_story_user">
                    <a href="">
                    <div class="avatar_user_story">
                        <img src="../img/avta2.jpg" alt="">
                    </div>
                    <div class="img_avarta_user">
                        <img src="../img/story2.jpg" alt="">
                    </div>
                    <div class="name_user_story">
                        Lê Huy
                    </div>
                    </a>
                </div>

                <div class="one_story_user">
                    <a href="">
                    <div class="avatar_user_story">
                        <img src="../img/avta3.jpg" alt="">
                    </div>
                    <div class="img_avarta_user">
                        <img src="../img/story3.jpg" alt="">
                    </div>
                    <div class="name_user_story">
                        Hoài Nhi
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="from_create_post">
            <div class="from_create_post_content">
                <div class="from_create_post_content_1">
                    <div class="avata_create_button">
                        <img src="../img/Facebook-Avatar_3 (1).png" alt="">
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        {{user.name}} ơi, Bạn đang nghĩ gì thế?
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="padding: 10px;">
                            <h1 style="text-align: center;">
                                Tạo bài viết
                            </h1>
                            <hr>
                            <div class="avata_modal_content">
                                <a href=""  class="nd-contet_1">
                                    <div class="i_con">
                                        <img src="../img/Facebook-Avatar_3 (1).png" alt="">
                                    </div>
                                    <div class="name_menu">
                                        Minh Nhật
                                    </div>
                                </a>
                                <div class="container mt-3">
                                    <form action="/posts/store" method="post">
                                        <div class="mb-3">
                                            <label for="content" class="form-label">Content</label>
                                            <input type="text" class="form-control" id="content" name="content" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="img" class="form-label">Img</label>
                                            <input type="text" class="form-control" id="img" name="img" required>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <hr>
                <div class="img_video">
                    <button><i class="fa-solid fa-camera"></i> Video trựa tiếp</button>
                    <button><i class="fa-solid fa-image"></i> Ảnh/video</button>
                </div>
            </div>
        </div>
    {{#each posts}}
        <div class="sum_content_post">
            <div class="content_post">
                <div class="from_content_post_user">
                    <div class="content_user_1">
                        <div class="avata_user_post">
                            <img src="../img/avta3.jpg" alt="">
                        </div>
                        <div class="name_user_post">
                            <div class="name_u_p">
                                Hoài Nhi
                            </div>
                            <div class="time_post">
                                {{createdAt}}
                            </div>
                        </div>
                    </div>
                    <div class="menu_post">
                        <button><i class="fa-solid fa-ellipsis"></i></button>
                        <button><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </div>
                <a href="/posts/{{_id}}">
                    <div class="div_content_post_user">
                        <div class="content_post_user">
                            {{!-- Hiển thị nội dung của bài đăng --}}
                            {{content}}
                            <a href="/posts/{{_id}}">
                                <strong>Xem thêm</strong>
                            </a>
                        </div>
                        <div class="img_content_post_user">
                            <img src="{{img}}" alt="">
                        </div>
                    </div>
                </a>
            <div class="from_menu_cs_bl_cs">
                <div class="div_from_menu_cs_bl_sh">
                    <div class="from_cs">
                        <div class="content_cs">
                            <img class="iconlike" src="../img/iconlike.png" alt="">
                            <img class="iconhaha" src="../img/iconhaha.png" alt="">
                        </div>
                        <div class="pepole_cs">
                            Minh và 36 người khác
                        </div>
                    </div>
                    <div class="from_sh">
                        <div>
                            1 <i class="fa-solid fa-message"></i>
                        </div>
                        <div>
                            2 <i class="fa-solid fa-share"></i>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="div_form_like_bl_share">
                <div class="form_like_bl_share">
                    <div class="form_like">
                        <i class="fa-regular fa-thumbs-up"></i> Thích
                    </div>
                    <div class="form_bl">
                        <i class="fa-solid fa-message"></i> Bình luận
                    </div>
                    <div class="form_share">
                        <i class="fa-solid fa-share"></i> Chia sẽ
                    </div>
                </div>
            </div>
            </div>
        </div>
    {{/each}}
    </div>

    {{!-- Nội dung 3 --}}
    <div class="content_3">
        <div class="div_form_content_3">
            <div class="div_form_content_3_1">
                <h1>Trang cá nhân của bạn</h1>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="menu_div_form_content_3_1">
                <div>
                    <i class="fa-brands fa-facebook"></i> &nbsp;Chuyển sang Trang
                </div>
                <div>
                    <i class="fa-brands fa-shopify"></i> &nbsp;Tạo và quản báo trang
                </div>
            </div>
            <hr>
            <div class="div_menu_pepole_ct3">
                <div class="div_menu_pepole_ct3_1">
                    <h1>Người liên hệ</h1>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="content_pepole">
                    <div class="from_content_peplo">
                        <div class="img_pepole">
                            <img src="../img/avta2.jpg" alt="">
                        </div>
                        <div class="name_pepole">
                            &nbsp; Lê huy
                        </div>
                    </div>
                </div>
                <div class="content_pepole">
                    <div class="from_content_peplo">
                        <div class="img_pepole">
                            <img src="../img/avta3.jpg" alt="">
                        </div>
                        <div class="name_pepole">
                            &nbsp; Hoài Nhi
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>